{$SITE_ADDRESS} {
	encode zstd gzip

	request_body {
		max_size 8MB
	}

	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options nosniff
		-Server
	}

	@landing path /
	handle @landing {
		root * /srv
		file_server
	}

	@assets {
		path *.png *.jpg *.jpeg *.svg *.webp *.ico *.css *.js
		not path /files/*
	}
	handle @assets {
		root * /srv
		file_server
	}

	handle {
		reverse_proxy api:8080 {
			header_up X-Forwarded-For {http.request.remote.host}
		}
	}
}
